===WBFFT Config 'default'===
Descriptor Parameters
  Profile ID: 0x0
  Start Mode: Continuous (2)
  Timestamp Trigger Enable: 0
  Timestamp to Trigger At: 0x0
  Repeat Count: 0

Input Data Parameters
  ADC Select: ADC_DP0 (4)
  FFT Size: 16384 (6)
  Sampling Rate: 1647000000.000 Hz (1)
  Usable Bandwidth: 1500000000.000 Hz (+-750000000.000 Hz)
  Bin Size: 100524.902 Hz
  Start Frequency: 96000000 Hz
  Center Frequency: 657000000.000 Hz
  End Frequency: 1218000000 Hz
  Max End Frequency: 1268000000 Hz
  Frequency Span: 1122000000.000 Hz
  Max Frequency Span: 1499932067.871 Hz
  Dmix Frequency: 656928955.078 Hz
  Input Scale: 0x80

Output Data Parameters
  Output Format: FreqDomainDb (4)
  Output Scale: 0x0
  Max Output Scale: 0x0
  Windowing: Blackman-Harris (4)
  Averaging: Time (0)
  Averaging Time: 128
  Clear Averaging After Output: 0
  Header Enable: 1
  Output Size: 32784 bytes

Rate/Duration/Aggregation Parameters
  Processing Clock (Fproc): 411.750 MHz
  Trigger Count: 0
  Continuous Rate: 0 msecs
  Run Duration: 1000 msecs
  Aggregation Period: 1000 msecs
  Output Interval: 0
  Processing Time: ~1.761 msec/capture
  Capture Time: ~1000.000 msec/capture
  Number of Captures: ~1
  Max Number of Captures: 127
  Run Time: ~1000.000 msec
